@import url(content.css);

[class|="bar"] {
	height: var(--bar-height);
	background: hsla(0, 0%, 12%, 0.8);
}

.bar-horizontal {
	position: fixed;
	z-index: 5;

	display: grid;
	width: 100vw;
	padding: 0 2rem;

    backdrop-filter: blur(25px);

	grid-template-columns: min(calc(400px - 2rem), 25%) auto min(calc(400px - 2rem), 25%);
    column-gap: 2rem;
	align-items: stretch;
}

.bar-horizontal:first-child {
	top: 0;
	box-shadow: 0px 12px 20px -10px rgba(0, 0, 0, 0.3);
	background: linear-gradient(0deg, hsla(0, 0%, 12%, 0.8) 0%, hsla(0, 0%, 12%) 100%);
}

.bar-horizontal:not(.bar-horizontal:first-child) {
	bottom: 0;
	box-shadow: 0px -12px 20px -10px rgba(0, 0, 0, 0.3);
	background: linear-gradient(180deg, hsla(0, 0%, 12%, 0.8) 0%, hsla(0, 0%, 12%) 100%);
}

.bar-horizontal .number{
	text-align: center;
}

.button-onbar {
	display: inline-block;
	line-height: var(--bar-height);
}

main {
	display: grid;
    padding-top: 4rem;

	grid-template-columns: auto min(400px, 25vw);
    column-gap: 2rem;
}

#page-view {
	display: grid;
	grid-template-columns: min(400px, 25vw) auto;
    column-gap: 2rem;
}

#page-view > div:first-child {
	text-align: right;
}

@media only screen and (max-width: 720px){
    main {
		grid-template-columns: auto;
	}
	#page-view{
		grid-template-columns: auto;
		padding: 0 .5rem;
	}
}
.control-area{
	display: flex;
	/* padding-left: 2rem; */
	flex-direction: row;
	align-items: center;
	column-gap: 1rem;
}

.control-area button{
	background: none;
	box-shadow: none;
	cursor: pointer;
	padding: 0;
}