<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/frame.css" />
		<title>Login</title>
	</head>
	<body>
		<div>
			<h1>LIFE</h1>
			<h3>Login</h3>
			<form method="POST" action="/login" class="flex-form">
                <label>E-mail:</label>
                <input type="text" name="email">
                <label>Password:</label>
                <input type="password" name="password">
                <br>
                <button>Login</button>
            </form>
		</div>
	</body>
</html>
